language: ruby
rvm:
  #- "1.9.2"
  - "1.9.3"
  #- jruby-19mode # JRuby in 1.9 mode
  #- rbx-19mode
before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database chilean_cities' -U postgres
  - bundle exec rake db:migrate
  - bundle exec rake db:seed

# uncomment this line if your project needs to run something other than `rake`:
# script: bundle exec rspec spec
